@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*:before,
*:after{ 
    /** 
    css reset says every element/everything before every element/everything after every element
    this is the hammer version, look up normalize.css for "scapel"
    */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(237, 237, 230);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.skip-link {
    background: black;
    color: white;
    font-weight: 700;
    padding: 4px;
    position: absolute;
    transform: translateY(-200%);
}

.skip-link:focus {
    transform: translateY(0%);
}

.skip-link {
    transition: transform 0.3s;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

h1,
h2,
h3 {
    font-family: "Domine", serif;
    font-weight: bold;
    padding: .2em 0;
}

p {
    margin: 0.5em 0;
    line-height: 1.2em;
}

h2{
    font-size: 1.5em;
}

header,
nav,
main,
aside,
footer {
    padding: 1.5em;
    border: 1px black solid;
}

header,
footer {
    text-align: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    background: #FEFFFA;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns:  
    1fr     2fr     1fr;
    grid-template-areas: 
    "heady     heady    heady"
    "navvy     navvy    navvy"
    "aside1    mainy    aside2"
    "aside1    mainy    aside2"
    "aside1    mainy    aside2"
    "footy     footy    footy";
}

header {grid-area: heady;}
nav {grid-area: navvy;}
main {grid-area: mainy; max-height: 100%;}
#aside1 {grid-area: aside1;}
#aside2 {grid-area: aside2;}
footer {grid-area: footy;}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

nav ul li{
    list-style: none;
}

@media screen
    and (min-width:641px)
    and (max-width: 900px) {
    .container{
        grid-template-columns:
        1fr 1fr;
        grid-template-areas: 
        "heady  heady"
        "navvy  navvy"
        "mainy  mainy"
        "aside1 aside2"
        "footy  footy";
    }
}

@media screen
    and (max-width: 640px) {
    .container{
        grid-template-columns:
        1fr;
        grid-template-areas: 
        "heady"
        "mainy"
        "aside1"
        "aside2"
        "navvy"
        "footy";
    }

    nav ul{
        flex-flow: column nowrap;
        text-align: center;
    }

    nav ul li a {
        display: block;
        padding: 10px 5px;
        margin: 5px;
        border: 1px black solid;
        background: whitesmoke;
    }
}
