@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #fcfbfa      ;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

h1 {
    margin-bottom: 0;
}

h1,
h2,
h3 {
      font-family: "Domine", serif;
}

time {
    font-size: 14px;
}

.skip-link {
    background: black;
    color: white;
    font-weight: 700;
    padding: 4px;
    position: absolute;
    transform: translateY(-200%);
}

.skip-link:focus {
    transform: translateY(0%);
}

.skip-link {
    transition: transform 0.3s;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.no-bullets{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.container {
    margin: 0 auto;
    max-width: 960px;
}

table, th, td{
    border-collapse: collapse;
}

table {
    margin-bottom: 30px;
}

thead {
    background-color: #e9e9e9; /* light gray like in your screenshot */
    font-weight: bold;
  }
  

th, td {
    border: 2px solid rgb(23, 23, 23);
    padding: 0.5em;
    text-align: left;
}

tbody td:first-child {
    background-color: #e9e9e9; /* slightly lighter gray */
    font-weight: bold;
  }

tbody td{
    font-size: 15px;
    text-align: center;
    width: 92px;
}

label {
    display: block;  
    margin: 0.5rem;
  }

button{
    display: block;
    margin: 0.5rem;
}

footer {
    display: flex;
    flex-direction: column;   /* stack items vertically */
    align-items: center;      /* center horizontally */
    justify-content: center;  /* center vertically (if it has height) */
    text-align: center;       /* centers text inside each element */
    padding: 1em;
    margin-top: 10px;
  }
  